<html>
    <body>
        <h1>Main Page</h1>
    <a href="/movies/moviesManagment">
        <button style="margin:5px;">Movies</button>
    </a>
    <a href="/subscriptions">
        <button style="margin:5px;">Subscription</button>
    </a>
    <a href=/users/usersManagment>
        <button style="margin:5px;">Users Managment</button>
    </a>
    <a href="/">
        <button style="margin:5px;">Log Out</button>
    </a><br/> <br/> <br/>
    <a href=/users>
        <button style="margin:5px;">Users</button>
    </a>
    <a href=/users/add>
        <button style="margin:5px;">Add User</button>
    </a>


    </body>
</html>